@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --width-container: 1180px;
  --color-purple: #674db1;
  behavior: smooth;
 
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth;
}

body {
  background: #f3f4ff no-repeat;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}

h2 {
font-size: 67px;
color:#b1a0be;
text-decoration: none;
}

p {
margin-top: 0;
margin-bottom: 1rem;
align-self: center;
}

.container {
  max-width: var(--width-container);
  width: 100%;
  margin: 0 auto;
}

.header {
  background: white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  display: block;
  width: 118px;
  height: 25px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}
.header__list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.header__link {
  color: black;
  text-decoration: none;
}
.gallary {
  max-width: var(--width-container);
  height: 643px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  order: 0;
  padding-top: 5em;
}
.gallary__items {
  position: relative;
  height: 320px;
}
.gallary__items__wrapper {
  display: flex;
  overflow: hidden;
  position: absolute;
  transition: 0.3s;
}
.gallary__item {
  /* width: 100%; */
  height: 560px;
  width: 1210px;
}
.prev {
  position:relative;
  top: 42%;
  left: 3%;
  border-style: none;
  height: 60px;
  width: 63px;
  border-radius: 90px;
  text-decoration: none;
  order: 1;
  z-index: 3;
  background-image: url(/images/prev.png);
}
.next {
 
  position:relative;
  top: 42%;
  left: 85%;;
  height: 60px;
  width: 63px;
  border-radius: 90px;
  text-decoration: none;
  order: 1;
  z-index: 3;
  background-image: url(/images/next.png);
}

.about {
margin-top: 15px;
}

.about__wrapper {
  grid-template-columns: 38% 25%;
  grid-row-gap: 10%;
  display: grid;
}

.about__text {
  display: flex;
  font-size: 24;
  font-weight: 700;
  width: 100%;
  align-items: center;
}

.about__img {
  display: flex;
  justify-self:end;
}




.product__wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}


.card__item{
  
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 26px;
  margin: 25px 15px 10px 10px;
  border: 2px solid var(--color-purple);
  flex: calc((100% / 3) - 120px);
  flex-direction: column;
  
}

.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.card__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card__name {
  text-align: center;
  font-size: 20px;
  color: #674db1;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.card__price {
  text-align: center;
  font-size: 20px;
  color: #0e8e3f;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.card__button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
  border-radius: 10px;
  padding: 11px 20px;
  background: #674db1;
}
.faq {
  max-width: 1210px;
  margin: 0 auto 0.3em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 30px;
}
.accordion {
  width: 100%;
  max-width: 1210px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: '\25BE';
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item-header.active::after {
  transform: rotate(-180deg);
}
.accordion-item-body {
  display: none;
  padding: 1rem;
  line-height: 1.5rem;
}
.accordion-item-header.active + .accordion-item-body {
  display: block;
}


.contacts_wrapper {
  margin-top: 5%;
  display: flex;
  float: left;
  width: 30%;
  flex-direction: column; 
  flex-wrap: wrap;
  }

.contacts_label {
  display: flex;
  font-size: 24;
  font-weight: 700;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
   
}

.label_img {
  align-self:center;
 padding-right: 10%; 
}

.contact__input {
  padding-top: 6%;
  padding-bottom: 2%;
  padding-left: 3%;
  float: right;
  width: 70%;
}

.input {
  padding: 1%;
  margin-bottom: 3%;
  margin-top: 0.5%;
  border-radius: 10px;
  text-align: left;
  color: #b1a0be;
  border: solid 1px;
  height: 100%;
  width: 63%;
  font-size: 20;
  font-weight: 700;
  background-color:  #f3f4ff;
  margin-left: 1%;
}
.input__question {
  padding: 1% 9% 9% 1%;
  margin-bottom: 3%;
  margin-top: 0.5%;
  border-radius: 10px;
  text-align: left;
  color: #b1a0be;
  border: solid 1px;
  height: 100%;
  width: 63%;
  font-size: 20;
  font-weight: 700;
  background-color:  #f3f4ff;
  margin-left: 1%;
}

.contact__button{
  font-size: 20px;
  color: #ffff;
  border-radius: 30px;
  padding: 11px 68px;
  background: #674db1;
  justify-self: end;
}

.contact__btn {
  padding-left: 60%;
  padding-bottom: 5%;
}

 @keyframes loading {
  0% {transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg);}
 }

.loading div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #674db1;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading div {
  box-sizing: content-box;
}
  
.loading-spinner-rolling {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading div {
  animation: loading 1s linear infinite ;
  top: 100px;
  left: 100px;
}
.preloader {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all .09s ease-out;
}

.preloader--hide {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.preloader__loader {
   position: relative;
 }

 @media (max-width: 880px) {
  .about__img {
    display: none;
  }
  .gallary {
    display: none;
  }
  .contact__input {
    float: none;
  }
 }


